.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  justify-content: space-between;
}

.imgContainer {
  flex: 1;
  margin-right: 10px;
}

.image {
  width: 100px;
  height: 100px;
  border-radius: 8px;
}

.mapContainer {
  flex: 1;
  display: flex;
  margin-left: 10px;
}

.map {
    flex: 1;
    display: flex;
    position: relative;
    justify-content: right;
  width: 350px;
  height: 350px;
  align-items: right;
  position: space-between;
  border-radius: 8px;
  margin-left: 10px;
  margin-top: 10px;
}
 img{
    display:flex;
    width: 350px;
    height: 300px;
    margin-bottom: 20px;
 }
