.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: rgb(154, 225, 11);
  box-shadow: 0 2px 4px rgba(35, 225, 6, 0.1);
}


.DiCoda {
  display: flex;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.title {
    display: auto;
  font-size: 1.5rem;
  font-weight: bold;
  color: #07e036;
}

.header-right {
  flex: 1;
  display: flex;
  align-items: right;
  margin-bottom: 10px;
  gap: 16px;
}
.Contact{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    background-color: hsl(120, 19%, 87%);
    margin-bottom: 10px;
}

.nav-link {
  text-decoration: none;
  color: #15e96d;
  font-size: 1rem;
}

.nav-link:hover {
  color: #007bff;
}

.nav-button {
  background: none;
  margin-top: 20px;
  border: none;
  color: #d00;
  font-size: 1rem;
  cursor: pointer;
}

.nav-button:hover {
  text-decoration:rgb(13, 215, 158) ;
}
nav {
  flex:1;
     display: flex;
       margin-top: -20px;
      flex-direction: row;
     height: 30px;
     align-items: left;
     gap: 1rem;
     text-align: left;
     color: hsl(191, 89%, 39%);
}


