.App {
  padding: 1.5em;
}

.App-headline {
  color: var(--color-primary);
}
.MenuBar {
  flex: 1;
  display: flex;
  position: relative;
  margin-top: 50px;
  text-align: right;
  align-items: right;
 
}